@import  normalize.css;

body {
    max-width: 980px;
    background-image: url(http://img.photobucket.com/albums/v707/geekyshoes/bkg-1.png);
    font-family: Domine, serif;
    font-size: 100%;
    margin: 25px;
}

.body {
    background-color: #FFF;
    margin: 25px;
}

page {
	width: 100%;
}

.page {
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding-bottom: 2em;
}

/* LINKS*/
a:link {
    color: #98c335;
}

a:active {
    color: #000;
}

a:hover {
    color: #000;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

/* HEADER */
header {
    padding: 2%;
    padding-bottom: 10%;
}

nav {
	font-family: 'Fjalla One', sans-serif;
    color: #000;
    font-size: 1.125em;
/*18px*/
    text-align: center;
    padding-left: 1.0204082%;
/*10px*/
    padding-right: 1.0204082%;
    padding-bottom: 1%;
    padding-top: 1%;
    float: right;
}

#headerLogo {
    float: left;
    width: 30%;
}

#topNav li {
    display: inline;
    padding: .2em;
}

#topNav a {
    color: #98c335;
}

#footerNav li {
    display: inline;
    padding-left: .3em;
}

#footerNav a {
    color: #fff;
    
}

/* HEADER FOOTER */
h1,h2,h3,h4,h5{
    font-family: "Gill Sans", sans-serif;
    color: #98c335;
    padding: 0;
    text-transform: uppercase;
}

h1 {
    font-size: 100%;
}

h2 {
    padding-bottom: 0;
    padding-top: 1em;
    font-size: 1.5em;
    color: #FFF;
}

h3 {
    padding-top: 1em;
    padding-bottom: 0;
    line-height: 0;
    color: #98c335;
}

h4 {
    margin: auto;
    font-size: 1.1em;
    padding-bottom: .2em;
    padding-top: .5em;
}

h5 {
    font-size: 1.2em;
    text-align: center;
	margin-bottom: 0;
}

ul {
    list-style-type: none;
}

footer {
    background-color: #98c335;
    margin-top: 0;
    overflow: hidden;
    clear: both;
    padding: 2%;
    padding-bottom: 2%;
}

#footerNav {
    background-color: #98c335;
    margin-top: 0;
}

.pageCOA {
    background-color: #98c335;
    padding: 0;
}

/*HOME PAGE*/
#coaImg1 {
    width: 100%;
    margin-top: .8em;
	margin-bottom: .6em;
}

#COA {
	width: 100%;
	clear: both;
	background-color: #98c335;
    padding-top: 1em;
    padding-bottom: .005em;
}

#mainContact {
    text-align: center;
    padding: 2%;
    font-size: 130%;
    line-height: 1%;
    clear: both;
}


/*ABOUT US*/
#aboutColumns {
    margin: 0 2em;
/* top right bottom left */
    padding: 0;
}

.column {
    font-size: 90%;
}

/*COOKING CLASS*/
#classImg4 {
	width: 100%;
	margin-top: .8em;
	margin-bottom: .6em;
}

#aboutImg, #contactImg {
	width: 100%;
	margin-top: .8em;
	margin-bottom: .6em;
}

#classImg1 {
	float: right;
	width: 50%;
	border: solid;
	border-width: .5em;
	border-color: #98c335;
	margin-left: .4em;
	
}
#classes p {
    font-size: 80%;
}

#classDisclaimer {
    font-size: 60%;
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding-bottom: .5em;
}
#classesCOA p{
 	font-size: 85%;
}


/*GOODS & PASTRIES*/
.imageMenu {
    width: 22.5%;
    height: 22.5%;
    border: solid;
    border-color: white;
	border-width: 4px;
	margin-top: .8em;
	margin-bottom: .6em;
	margin-left: .6em;
	margin-right: 0em;
}
 
#menuPhotos { 
    width: 100%;
    display: inline;
}
#menuColumns {
    columns: 100px 2;
    -webkit-columns: 100px 2;/* Safari and Chrome */
    -moz-columns: 100px 2;/* Firefox */
    text-align: center;
    margin-top: .5em;
}

.items {
    font-size: 90%;
    padding: 0;
    font-family: Domine, sans-serif;
}

.items p {
    margin: 0;
    line-height: normal;
}

/* GIFT BASKET PAGE*/
#otherBaskets {
    margin-left: 1.5em;
    margin-right: 1.5em;
}

#otherBasketsList {
    columns: 100px 2;
    -webkit-columns: 100px 2;/* Safari and Chrome */
    -moz-columns: 100px 2;/* Firefox */
    padding-bottom: 2em;
}

#giftBaskets {
    -webkit-columns: 100px 4; /* Safari and Chrome */
    -moz-columns: 100px 4; /* Firefox */
}

.giftBasket {
    text-align: center;
    width: 75%;
    height: 75%;
    padding: .5em;
}

#giftBasketInfo {
    font-size: 95%;
}
#giftBasketMain {
	width: 100%;
	margin-top: .8em;
	margin-bottom: .6em;
}

section {
    margin-left: 1.5em;
    margin-right: 1.5em;
    padding-bottom: .5em;
}

#clickInfo {
    text-align: right;
    font-size: 80%;
    padding-bottom: 0;
}


/*CONTACT*/
#contactInfo {
    text-align: center;
}

.address {
    font-size: 100%;
    line-height: 0;
}

.contact {
    font-size: 80%;
    line-height: 1em;
}

#mapImg {
    float: right;
    width: 50%;
    padding-bottom: 1em;
}

#directions {
    font-size: 90%;
}

#directions h3 {
    padding: 0;
}

#contactCOA {
	margin-top: 1.5em;
	padding-top: 1em;
	padding-bottom: 1em;
}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width:480px ) {
   /*-----EVERY PAGE-------*/
   body{background-color: #f5be0b; background-image: none; width: 100%; margin: 0;}    
   nav {float: none; clear:both; padding: 0; word-spacing: 5px; font-size: 120%; margin: auto;}
   #topNav{padding: 0; float: none; word-spacing: 5px; font-size: 100%; margin: auto;}
   #headerLogo {float: none; width: 100%;}
   header {padding: 2%; }
   #footerNav li { margin: 0; float: none; word-spacing: 5px; font-size: 100%; padding: 0;}
   #footerNav{margin: 0; padding: 0; float: none;}
   p{font-size: 80%;}
   .pageCOA {padding: .5em;background-image: url(http://img.photobucket.com/albums/v707/geekyshoes/bkg-1.png);}
   #COA{padding: .5em;background-image: url(http://img.photobucket.com/albums/v707/geekyshoes/bkg-1.png);}
   /*-----EVERY PAGE END-------*/
   #giftBaskets, #clickInfo, #otherBaskets,#mapImg{display: none;}
   h3{line-height: normal;}
   #menuColumns{display:inherit; }
   /*-----ABOUT-------*/ 
   #aboutColumns {margin:0;}
   #contactImg {display: none;}
   /*-----ABOUT END-------*/ 
   #contactInfo {padding-top: 5%;}
   /*----GOODS & PASTRIES---*/
   	#menuPhotos, #giftBasketMain{display: none;}
   /*----GOODS & PASTRIES END---*/ 
   
   /*-----CLASSES-------*/ 
  #classImg1, #classImg2, #classImg3{display: none;}
  #classesCOA, #classImages{padding: 0; margin: 0;}
   /*-----CLASSES END-------*/ 
}

@media only screen and (min-width: 481px) and (max-width: 767px) {
   /*-----EVERY PAGE-------*/
   body{background-color: #f5be0b; width: 100%; margin: 0;}    
   nav {float: none; clear:both; padding: 0; word-spacing: 5px; font-size: 120%; margin: auto;}
   #topNav{padding: 0; word-spacing: 5px; font-size: 100%; margin: auto;}
   #headerLogo {float: none; width: 100%;}
   header {padding: 2%; }
   #footerNav li { margin: 0; float: none; word-spacing: 5px; font-size: 100%; padding: 0;}
   #footerNav{margin: 0; padding: 0; float: none;}
   p{font-size: 80%;}
   /*-----EVERY PAGE END-------*/
   #giftBaskets, #clickInfo, #otherBaskets,#mapImg{display: none;}
   h3{line-height: normal;}
   #menuColumns{display:inherit; }
   /*-----ABOUT-------*/ 
   #aboutColumns {margin:0;}
   /*-----ABOUT END-------*/ 
   #contactInfo {padding-top: 5%;}
   /*----GOODS & PASTRIES---*/
   /*----GOODS & PASTRIES END---*/ 
   /*-----CLASSES-------*/ 
   #classesCOA, #classImages{padding: 0; margin: 0;}
   #classImg1, #classImg2, #classImg3{display: none;}
   /*-----CLASSES END-------*/ 
}


/* iPads (portrait and landscape) ----------- */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  /*-----EVERY PAGE-------*/
   body{width: 100%; margin: 0;}    
   nav {padding: 0; word-spacing: 3px; font-size: 100%; margin: 0;}
   #topNav{word-spacing: 3px; font-size: 100%; float: right; padding-right: 1%; padding-bottom: 1%; padding-top: 1%;}
   #footerNav li { margin: 0; word-spacing: 5px; font-size: 100%; padding: 0;}
   #footerNav{margin: 0; padding: 0;}
   p{font-size: 80%;}
   .pageCOA {padding:0;clear: both;}
   /*-----EVERY PAGE END-------*/
   #giftBaskets, #clickInfo, #otherBaskets, #coaImg2, #mapImg{display: none;}
   #coaImg1 {float: none; width: 100%; padding-left: 0; padding-bottom: .5em;}
   h3{line-height: normal;}
   #menuColumns{display:inherit; }
   /*-----ABOUT-------*/ 
   #aboutColumns {margin:0;}
   #contactImg {display: none;}
   /*-----ABOUT END-------*/ 
   #contactInfo {padding-top: 5%;}
   /*----GOODS & PASTRIES---*/
	#menuPhotos {display: inline;}
	.imageMenu{ width: 22%;}
   /*----GOODS & PASTRIES END---*/ 
	#giftBasketMain{display: none;}   
   /*-----CLASSES-------*/ 
  #classImg1, #classImg2, #classImg3{display: none;}
  #classesCOA {padding: 0; margin: 0;}
  #classImages { padding: 0; margin: 0;}
  #classImg4 {display: inline; width: 100%; border: none;}
   /*-----CLASSES END-------*/   
}
